[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
absl-py = "*"
appnope = "*"
astor = "*"
autocrop = "*"
autopep8 = "*"
backcall = "*"
certifi = "*"
chardet = "*"
cycler = "*"
decorator = "*"
dlib = "*"
gast = "*"
google-pasta = "*"
grpcio = "*"
h5py = "*"
idna = "*"
imageio = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
jedi = "*"
joblib = "*"
jupyter-client = "*"
jupyter-core = "*"
kiwisolver = "*"
markdown = "*"
matplotlib = "*"
mock = "*"
mouseinfo = "*"
mss = "*"
networkx = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
pillow = "*"
prompt-toolkit = "*"
protobuf = "*"
ptyprocess = "*"
pycodestyle = "*"
pygame = "*"
pynput = "*"
pyobjc = "*"
pyparsing = "*"
pyperclip = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
requests = "*"
schedule = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
termcolor = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
urllib3 = "*"
wcwidth = "*"
wrapt = "*"
PyAutoGUI = "*"
PyGetWindow = "*"
Pygments = "*"
PyMsgBox = "*"
PyRect = "*"
PyScreeze = "*"
PyTweening = "*"
PyWavelets = "*"
Werkzeug = "*"
torch = "*"
torchvision = "*"

[requires]
python_version = "3.7"
