absl-py==0.7.1
appnope==0.1.0
astor==0.8.0
autocrop==0.3.5
autopep8==1.4.4
backcall==0.1.0
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
dlib==19.17.0
gast==0.2.2
google-pasta==0.1.7
grpcio==1.22.0
h5py==2.9.0
idna==2.8
imageio==2.5.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.14.0
joblib==0.13.2
jupyter-client==5.2.4
jupyter-core==4.5.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.0
mock==3.0.5
MouseInfo==0.0.4
mss==4.0.3
networkx==2.3
numpy==1.16.4
opencv-python==3.4.6.27
pandas==0.24.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
protobuf==3.8.0
ptyprocess==0.6.0
PyAutoGUI==0.9.47
pycodestyle==2.5.0
pygame==1.9.6
PyGetWindow==0.0.7
Pygments==2.4.2
PyMsgBox==1.0.7
pynput==1.4.2
pyobjc==5.2
pyparsing==2.4.0
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.22
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2019.1
PyWavelets==1.0.3
pyzmq==18.0.1
requests==2.22.0
schedule==0.6.0
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.1.0
six==1.12.0
tensorboard==1.12.2
tensorflow==1.13.0rc1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tornado==6.0.2
tqdm==4.32.2
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
Werkzeug==0.15.4
wrapt==1.11.2
